[Unit]
Description=Muadib UDC Binding
Requires=adibi.socket
After=adibi.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/adibi bind-udc
