[Unit]
Description=ADB FunctionFS Mount
Requires=adibi-gadget.service
After=adibi-gadget.service

[Mount]
What=adb
Where=/run/adibi/ffs
Type=functionfs
Options=context=system_u:object_r:device_t:s0
